{% extends "QQiRecordappBundle::layout.html.twig" %}

{% block title %}RecordApp{% endblock %} 

{% block body %}

    {% include "QQiRecordappBundle::opciones.html.twig" with { 'tareas' : tareas | length, 'enlaces' : enlaces | length } %}

<div class="row-fluid">
    <div class="span6">
        <section class="utopia-widget">
            <div class="utopia-widget-title">
                <img src="{{ asset('bundles/qqirecordapp/img/icons/group.png') }}" class="utopia-widget-icon"><span>Tareas</span>
            </div>
            <div class="utopia-widget-content">
                {% for datos in tareas %}
                <div class="utopia-chat">
                    <img src="{{ asset('bundles/qqirecordapp/img/user1.jpg') }}" alt="user1">
                    <div class="text">
                        <div class="status-alter"><i class="icon-envelope"></i><span class="user">{{ datos.titulo }}</span><span class="date">{{ datos.fecha | date('d/m/Y') }}</span>
                        </div>
                        <p>{{ datos.nombre }}</p>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </section>
    </div>

    <div class="span6">
        <section class="utopia-widget">
            <div class="utopia-widget-title">
                <img src="{{ asset('bundles/qqirecordapp/img/icons/group.png') }}" class="utopia-widget-icon"><span>Enlaces</span>
            </div>
            <div class="utopia-widget-content">
                {% for datos in enlaces %}
                <div class="utopia-chat">
                    <img src="{{ asset('bundles/qqirecordapp/img/user1.jpg') }}" alt="user1">
                    <div class="text">
                        <div class="status-alter"><i class="icon-envelope"></i><span class="user">{{ datos.titulo }}</span><span class="date">{{ datos.fecha | date('d/m/Y') }}</span>
                        </div>
                        <p><a href="{{ datos.url }}" target="_blank">{{ datos.url }}</a></p>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </section>
    </div>
</div>

<!-- Nueva Tarea -->
<div class="modal hide fade" id="nuevaTarea">
    <form action="{{ path("admin_tarea_nueva") }}" method="post" name="formTarea">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h3>Nueva Tarea</h3>
    </div>
    <div class="modal-body">
        <div>
            <input class="input-xlarge" id="titulo" name="titulo" type="text" placeholder="Titulo" />
        </div>
        <div>
            <textarea class="input-xlarge" id="nombre" name="nombre"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <div class="utopia-all-button"><button class="btn btn-primary span4" href="javascript:void(0)">Enviar</button></div>
    </div>
    </form>
</div>

<!-- Nuevo Enlace -->
<div class="modal hide fade" id="nuevoEnlace">
    <form action="{{ path("admin_enlace_nuevo") }}" method="post" name="formTarea">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h3>Nuevo Enlace</h3>
    </div>
    <div class="modal-body">
        <div>
            <input class="input-xlarge" id="titulo" name="titulo" type="text" placeholder="Titulo" />
        </div>
        <div>
            <input class="input-xlarge" id="url" name="url" type="text" placeholder="http://" />
        </div>
    </div>
    <div class="modal-footer">
        <div class="utopia-all-button"><button class="btn btn-primary span4" href="javascript:void(0)">Enviar</button></div>
    </div>
    </form>
</div>

{% endblock %}

