<div class="row-fluid">
	<div class="span3">
  <div class="utopia-chart-legend">
	<div class="utopia-chart-icon">
	  <a id="tarea" data-toggle="modal" href="#nuevaTarea" class="btn">
	  <img src="{{ asset('bundles/qqirecordapp/img/icons2/pictures_folder.png') }}" />
	  </a>
	</div>
	<div class="utopia-chart-heading">+{{ tareas }}</div>
	<div class="utopia-chart-desc">
		TAREAS
	</div>
  </div>
</div>

<div class="span3">
  <div class="utopia-chart-legend">
	<div class="utopia-chart-icon">
	  <a id="enlace" data-toggle="modal" href="#nuevoEnlace" class="btn">
	  <img src="{{ asset('bundles/qqirecordapp/img/icons2/link.png') }}" />
	  </a>
	</div>
	<div class="utopia-chart-heading">+{{ enlaces }}</div>
	<div class="utopia-chart-desc">ENLACES</div>
  </div>
</div>

<div class="span3">
  <div class="utopia-chart-legend">
	<div class="utopia-chart-icon">
	  <a id="contacto" data-toggle="modal" href="#nuevoContacto" class="btn">
	  	<img src="{{ asset('bundles/qqirecordapp/img/icons2/diary.png') }}" />
	  </a>
	</div>
	<div class="utopia-chart-heading">X</div>
	<div class="utopia-chart-desc">CONTACTOS</div>
  </div>
</div>

<div class="span3">
  <div class="utopia-chart-legend">
	<div class="utopia-chart-icon">
	  <div class="btn-group">
    	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <img src="{{ asset('bundles/qqirecordapp/img/icons2/stats_lines.png') }}" />
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Diario</a></li>
          <li><a href="#">Semanal</a></li>
          <li><a href="#">Mensual</a></li>
          <li><a href="#">Anual</a></li>
        </ul>
      </div>
	</div>
	<div class="utopia-chart-heading">X</div>
	<div class="utopia-chart-desc">INFORMES</div>
  </div>
</div>
	</div>