<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Le styles -->
		<link href="{{ asset('bundles/qqirecordapp/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/qqirecordapp/css/utopia-white.css') }}" rel="stylesheet">
		<style type="text/css">
      	body {
        	padding-top: 60px;
	        padding-bottom: 40px;
      	}
	    </style>
    	<link href="{{ asset('bundles/qqirecordapp/css/bootstrap-responsive.css') }}" rel="stylesheet">

	    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	    <!--[if lt IE 9]>
	    	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
      {% block stylesheets %}{% endblock %}
    </head>
    {% block bodydescript %}
    <body>
    {% endblock %}
		
      {% block menu %}{% endblock %}
  	  <div class="container-fluid">
 		      {% block body %}{% endblock %} 
          <hr>
          <footer>
            <p>&copy; Ing. Daniel M. Maldonado 2012</p>
          </footer>
      </div> <!-- /container -->

      <script src="{{ asset('bundles/qqirecordapp/js/jquery.min.js') }}"></script>
      <script src="{{ asset('bundles/qqirecordapp/js/bootstrap.js') }}"></script>
      <script src="{{ asset('bundles/qqirecordapp/js/bootstrap-dropdown.js') }}"></script>
      <script src="{{ asset('bundles/qqirecordapp/js/jquery.dataTables.js') }}"></script>
      <script src="{{ asset('bundles/qqirecordapp/js/jquery.flot.js') }}"></script>
      <script src="{{ asset('bundles/qqirecordapp/js/jquery.flot.selection.js') }}"></script>
      {% block javascripts %}{% endblock %}
    </body>
</html>
